[submodule "site-lisp/popweb"]
	path = site-lisp/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-lisp/insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "site-lisp/wxml-mode"]
	path = site-lisp/wxml-mode
	url = git@github.com:archer-n/wxml-mode.git
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "site-lisp/lsp-volar"]
	path = site-lisp/lsp-volar
	url = https://github.com/jadestrong/lsp-volar.git
